* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
    background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
}
.navigatebar {
    width: 200px;
    background-color: rgba(89, 255, 47, 0.39);
}